.App {
  background-image: url('images/se_background.jpg');
  filter: brightness(90%);
  color: white;
  min-height: 100vh;
}

.navItems {
  position: absolute;
  padding-top: 18px;
  font-size: 25px;
}

a:link {
  color: white;
}

a:visited {
  color: orangered;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
