.App {
  background-color: #48C7FF;
  filter: brightness(90%);
  color: white;
  min-height: 100vh;
}

/*.navbar-dark .navbar-toggler-icon {*/
/*}*/

.navItems {
  position: absolute;
  padding-top: 18px;
  font-size: 25px;
}

.homepage-title {
  position: absolute;
  float: right;
  top: 80px;
  right: 0;
  font-family: Oxygen;
  font-weight: bolder;
  text-decoration: underline;
}

.cs-banner {
  float: right;
  position: relative;
  display: flex;
  opacity: .85;
  paddingTop: 60px;
}

.portrait {
  border-width: 1px;
  border-radius: 150px;
  padding-top: 60px;
}

.introduction-title {
  position: absolute;
  font-family: "Bodoni 72";
  font-weight: bold;
}

.introduction-paragraph {
  position: absolute;
  color: black;
  font-family: fantasy;
  font-style: italic;
  line-height: 2;
}

.email-icon {
  position: absolute;
}

.github-icon {
  position: absolute;
}

.linkedin-icon {
  position: absolute;
}

.video-production {
  padding-top: 60px;
}

a:link {
  color: white;
}

a:visited {
  color: orangered;
}

.experience {
  padding-top: 60px;
}

.playVideo {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;
}

.responsive-iframe {
  overflow: hidden;
  border: 0;
  align-self: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.rewind-header {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: xx-large;
  font-family: Helvetica;
}

.rewind-description {
  text-shadow: 1px 1px 2px black;
  font-size: small;
  font-family: cursive;
  display: inline-block;
}

.overwatch{
  background-image: url('images/genji_potg_intro.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100vw;
  height: 100vh
}

#rewind {
  color: black;
}

/*Mobile*/
/* iPhone 13 Pro Max | 2778x1284 pixels at 458ppi | 428w x 926h */
@media screen and (max-width: 429px) and (max-height: 927px) {
  .homepage-title {
    top: 15%;
    display: flex;
    font-size: 15px;
    padding-right: 2%;
  }
  .cs-banner {
    top: 0;
    max-width: 100%;
    width: 55%;
    object-fit: scale-down;
    clip-path: inset(160px 0 160px round 10px 0 0 10px);
  }
  .portrait {
    width: 45%;
    height: 390px;
  }
  .introduction-title {
    left: 5%;
    top: 47%;
    font-size: 30px;
  }
  .introduction-paragraph {
    padding-left: 5%;
    top: 53%;
    font-size: 18px;
  }
  .email-icon {
    left: 47%;
    top: 30%;
    width: 45px;
    height: 30px;
  }
  .github-icon {
    left: 68%;
    top: 29%;
    width: 44px;
    height: 45px;
  }
  .linkedin-icon {
    right: 2%;
    top: 29%;
    width: 44px;
    height: 45px;
  }
}

/*Mobile*/
/* iPhone 13 mini | 2340x1080 pixels at 476ppi | 375w x 812h */
@media screen and (max-width: 477px) and (max-height: 813px) {
  .homepage-title {
    top: 15%;
    display: flex;
    font-size: 14px;
    padding-right: 2%;
  }
  .cs-banner {
    top: 0;
    max-width: 100%;
    width: 55%;
    object-fit: scale-down;
    clip-path: inset(160px 0 160px round 10px 0 0 10px);
  }
  .portrait {
    width: 45%;
    height: 370px;
  }
  .introduction-title {
    left: 5%;
    top: 55%;
    font-size: 30px;
  }
  .introduction-paragraph {
    padding-left: 5%;
    top: 61%;
    font-size: 18px;
  }
  .email-icon {
    left: 47%;
    top: 37%;
    width: 45px;
    height: 30px;
  }
  .github-icon {
    left: 68%;
    top: 36%;
    width: 44px;
    height: 45px;
  }
  .linkedin-icon {
    right: 2%;
    top: 36%;
    width: 44px;
    height: 45px;
  }
}

/*Desktop*/
@media screen and (min-width: 601px) {
  .homepage-title {
    font-size: 40px;
    padding-right: 10%;
  }
  .cs-banner {
    clip-path: inset(150px 0 20px round 10px 0 0 10px);
  }
  .introduction-title {
    padding-left: 42%;
    top: 380px;
    font-size: 45px;
  }
  .introduction-paragraph {
    padding-left: 42%;
    top: 450px;
    font-size: 20px;
  }
  .email-icon {
    left: 42%;
    bottom: 7%;
  }
  .github-icon {
    left: 63%;
    bottom: 6%;
  }
  .linkedin-icon {
    right: 3%;
    bottom: 6%;
  }
}
